{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:editorconfig/all"
	],
	"plugins": ["@typescript-eslint", "editorconfig"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"env": {
		"browser": true,
		"es2017": true,
		"node": true
	}
}
