# Editors
*.iml
.vs/
.nova/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build and tests
dist/
coverage/

# Node
**/node_modules/
npm-debug.log

# Yarn Integrity file
.yarn-integrity

# yarn v2+
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
